<div class="card-deck">
  <div class="card">
    <img
      class="card-img-top"
      src="../../../../../assets/images/cards/basicCard3.jpeg"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">Basic</h5>
      <p class="card-text">
        We list nearby local businesses to attend your property needs.
      </p>
      <p class="card-text">
        <small class="text-muted"></small>
      </p>
    </div>
  </div>
  <div class="card">
    <img
      class="card-img-top"
      src="../../../../../assets/images/cards/premiumCard.jpeg"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">Premium Member</h5>
      <p class="card-text">
        Our most popular card. Why worry about your property when while you're
        away. Our AI house manager will take care of organizing your
        necessities.
      </p>
      <p class="card-text">
        <small class="text-muted"></small>
      </p>
    </div>
  </div>
  <div class="card">
    <img
      class="card-img-top"
      src="../../../../../assets/images/cards/intermediateCard.jpeg"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">Intermediate Member</h5>
      <p class="card-text">
        Participate in discussions and inqueries all while getting your needs taken care of. Talk with a representative to finalize specifications.
      </p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>
</div>
