<section>
  <h1 id="about-heading" class="content-heading animate__animated hidden">
    About us
  </h1>
  <hr id="about-fieldset" class="animate__animated hidden" />
  <div class="content">
    <div id="about-img" *ngIf="mobile" class="img-container hidden">
      <img
        src="../../../../../assets/images/about/white_logo_color_background.jpg"
        alt=""
        class="about-img"
      />
    </div>
    <div id="about-text" class="about-text hidden">
      <p>
        Niche is so much more than just a home home service. We are a
        company dedicated to giving our customers back the time they deserve to
        enjoy the things they love. 
        
        Submit the requests to you want done. We will handle the rest. Our state of the art backend
        returns local businesses and services tailored to your needs. Compare services based off of 
        reviews and critics of neighbors in the community.         
      </p>
     
    </div>
    <div id="about-img" class="">
      <img
        src="../../../../../assets/images/about/white_logo_color_background.jpg"
        alt=""
        class="about-img"
      />
    </div>
  </div>
</section>
